body {
	font-family: 'Gudea', sans-serif;
	width: 828px;
	margin: 8px auto;
}
h1 {
	font-size: 35px;
	color: #D31145;
	text-align: center;
}
h2#caption {
	text-align: center;
	color: #334;
	font-size: 14px;
	margin: 5px auto;
}
fieldset {
	margin: 5px 0;
	min-height: 50px;
	float: left;
}
legend {
	font-weight: bold;
}
#stockpath {
	/*width: 450px;
	height: 380px;
	border: 1px solid #666667;*/
	margin: 0px auto;
	display: block;
}

#canvasholder {
	width: 490px;
	overflow: scroll;
	height: 400px;
}

h3#currPrice {
	font-size: 20px;
	color: #D31145;
	margin: 10px auto;
	text-align: center;
}

.trade-row td {
	text-align: center;
}